jenkin-mule-api/src/main/mule/jenkin-mule-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0680f015-1a49-4d2f-8e6f-8ece30b72dc3" basePath="/timezone" >
		<http:listener-connection host="0.0.0.0" port="8089" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="d37b93d2-05d7-4c26-be48-576b90b1b091" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.com" />
	</http:request-config>
	<flow name="jenkin-mule-apiFlow" doc:id="8a0a2590-9723-47db-a5d5-76f7175cd4be" >
		<http:listener doc:name="Listener" doc:id="3f9ce7b7-7fc6-4626-87d9-538501ea586b" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="9063d3a4-e471-4bf5-af12-bcff24342822" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"" : "",
	city : attributes.uriparams.city,
	region : attributes.uriparams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
